

.contenedor{
    display: flex;
    vertical-align: center;
    text-align: center;
    font-family: 'Seymour One', sans-serif;
    
 }
.lista-novedades{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Seymour One', sans-serif;
    
    
 }
.contactanos{
    display: flex;
    vertical-align: center;
    text-align: right;
    font-family: 'Seymour One', sans-serif;
    
 }
 .mapa iframe {
    width: 100%;
    aspect-ratio: 1.9;
 
}
 
 