<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/Novedades">Novedades</a></li>
      <li><a href="/recomendacion">Recomendacion</a></li>
    </ul>
  </nav>
  <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus totam blanditiis odit quod nesciunt
    praesentium impedit perferendis minima. Mollitia nobis et dolorum architecto vero possimus quaerat facilis cum at
    odit.</h2>
    {{{body}}}
</body>

</html>