<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, natus labore libero quod nemo quo nesciunt sint repellat molestias aspernatur ad molestiae nihil optio hic, eius reiciendis enim similique commodi.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque obcaecati ex quod! Assumenda reprehenderit ipsam ab id? Asperiores, similique culpa? Obcaecati, excepturi. Reiciendis assumenda recusandae molestias? Harum reiciendis voluptatum provident.
</h2>
<form action="">
 <input type="text" placeholder="usuario">
 <input type="password" placeholder="pass">
 <input type="submit" value="Enviar">
</form>